<div class="container">
  <form action='/create_video' method='post'>
    <ul id='add'>
      <li><input type='text' name='title' placeholder="Title" autofocus></li>
      <li><input type='text' name='genre' placeholder="Funny, Music, Sports, etc"></li>
      <li><input type='text' name='url' placeholder="Video URL"></li>
      <li><textarea type='text' name='description' placeholder="Enter video description"></textarea></li>
    </ul>
    <button>Add Video</button>
  </form>
</div>
