<div class="container">
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
     <!--  <div class="row homepagecenter">
        <div class="col-lg-4">
          
          <div class="my_text">
          <h2>Search movies</h2>
          <p>Get info on any movie!</p>
        </div>
          <p><a class="btn btn-default" href="/movies" role="button">Movies DB &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <div class="my_text">
          <h2>Search actors</h2>
          <p>Search our existing actors database</p>
        </div>
          <p><a class="btn btn-default" href="/actors" role="button">Actors DB &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <div class="my_text">
          <h2>Create a new actor</h2>
          <p>Can't find the actor you are looking for? You must be very picky! No worries though. Just click to add him/her.</p>
        </div>
          <p><a class="btn btn-default" href="/new_actor" role="button">Create Actor &raquo;</a></p>
        </div>-->
      </div><!-- /.row -->
    </div>