<div class="container">
  <div class="my_text">
<div class="page-header">
  <h1>Add an actor</h1>
</div>
<form class="form-horizontal" action='/create_actor' method='post'>

<!--   <dl>
    <dt>
      <label for='first_name'>First Name:</label>
    </dt>
    <dd>
      <input id='first_name' type='text' name='first_name' placeholder="First name" autofocus>
    </dd>
  </dl> -->

  <div class="form-group">
  <label class="col-md-4 control-label" for="first_name">First Name</label>  
  <div class="col-md-5">
  <input id="first_name" name='first_name' type="text" class="form-control input-md" required="" placeholder="First name">
    </div>
</div>

    <div class="form-group">
  <label class="col-md-4 control-label" for="last_name">Last Name</label>  
  <div class="col-md-5">
  <input id="last_name" name='last_name' type="text" class="form-control input-md" required="" placeholder="Last name">
    </div>
</div>
    
    <div class="form-group">
  <label class="col-md-4 control-label" for="dob">DOB</label>  
  <div class="col-md-5">
  <input id="dob" name='dob' type="text" class="form-control input-md" required="" placeholder="YYYY-MM-DD">
    </div>
</div>

    <div class="form-group">
  <label class="col-md-4 control-label" for="image">Image URL</label>  
  <div class="col-md-5">
  <input id="image" name='image' type="text" class="form-control input-md" required="" placeholder="Image url">


  </div>
</div>

<!--   <dl>
    <dt>
      <label for='last_name'>Last Name:</label>
    </dt>
    <dd>
      <input id='last_name' type='text' name='last_name' placeholder="Last name">
    </dd>
  </dl> -->

  <!-- <dl>
    <dt>
      <label for='dob'>Date of birth:</label>
    </dt>
    <dd>
      <input id='dob' type='text' name='dob' placeholder="YYYY-MM-DD">
    </dd>
  </dl>

  <dl>
    <dt>
      <label for='image'>Image URL:</label>
    </dt>
    <dd>
      <input id='image' type='text' name='image' placeholder="Image URL">
    </dd>
  </dl> -->

  <!-- <dl>
    <dt>
      <label for='details'>Details:</label>
    </dt>
    <dd>
      <textarea id='details' type='text' name='details' autofocus></textarea>
    </dd>
  </dl> -->
<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button id="" name="" class="btn btn-primary">Add Actor</button>
  </div>
</div>
  <!-- <button>Add Actor</button> -->

</form>
</div>

</div>
</div>